@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@400;500;600&display=swap");
html {
  font-family: "Mitr", sans-serif;
  background: rgb(157, 234, 255);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
@font-face{
  font-family: "chonburi";
  src: url('/style/Chonburi-Regular.ttf') format("truetype");
}
canvas {
  position: fixed;
  z-index: -1;
  opacity: 0;
}
.bg_animation {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 120%;
  min-height: 120%;
}
.logo {
  position: fixed;
  z-index: 4;
  top: 25px;
  left: 35px;
}

.interactive {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  text-align: center;
}
.card {
  max-width: 30em;
  margin: 50px;
  z-index: 6;
}

.separation_1st,
.separation_2nd {
  background-color: rgb(22, 22, 22);
  color: #fff;
  position: absolute;
  left: 37%;
  width: 30%;
  height: fit-content;
  border-radius: 20px;
  padding: 20px;
  display: none;
}

.status_orbit {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0%;
  width: 20%;
  height: 100%;
}

.status_orbit .activated,
.status_orbit .not_activated,
.status_orbit .orbit_range {
  position: absolute;
  top: 5%;
  width: 100%;
  height: 90%;
}

.line {
  position: absolute;
  right: 15%;
  top: 0;
  width: 5px;
  height: 100%;
}
.orbit_info {
  max-width: 20em;
  right: 5%;
  top:55%;
}

.orbit_state {
  position: absolute;
  width: 50px;
  cursor: alias; 
  background-color: #333;
  padding: 5px;
  border: 4px solid #333;
  border-radius: 30px;
  left: -22.5px;
}

.orbit_state:hover{
  background-color: #555;
  border: 4px solid #fff;
  transition: 1s;
}

.drop_info {
  background: #fff;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50px;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  font-size: 25px;
  display: inline-block;
  height: 50px;
  line-height: 44px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 24px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  border-bottom: 25px solid transparent;
  border-left: 20px solid #eee;
  border-top: 25px solid transparent;
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
  border-left-color: crimson;
}

.t_minus {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 10%;
  color: #222;
  opacity: 0;
}

.status_footer {
  position: fixed;
  z-index: 1;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 73%;
}

.status_footer .left {
  position: absolute;
  display: inline-block;
  width: 50%;
  overflow: hidden;
  direction: ltr;
  opacity: 0;
}

.status_footer .right {
  position: absolute;
  display: inline-block;
  width: 50%;
  left: 50%;
  overflow: hidden;
  direction: rtl;
  opacity: 0;
}

.left .circle {
  width: 200%;
  height: auto;
}

.right .circle {
  width: 200%;
  height: auto;
}

.timeline_box {

  width: 40%;
  position: fixed;
  top: 100px;
}

.timeline_box h6 {
  font-size: 12px;
  color: #f0f0f0;
}

.parallax {
  position: absolute;
  height: 100%;
  width: 100%;
}
.pad {
  position: absolute;
  width: 850px;
  height: auto;
  z-index: 1;
}
.dragon {
  position: absolute;
  height: 400px;
  bottom: 80px;
  width: auto;
  z-index: 0;
}
.dragon img {
  height: 400px;
  position: absolute;
}

.landing_box {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.landing_box .box {
  position: relative;
  /* overflow: hidden; */
  width: 28%;
  height: 42%;
  left: 2%;
  bottom: 2%;
}
.box img {
  position: absolute;
  width: 100%;
  display: none;
}
.effect {
  position: fixed;
  width: 100%;
}
.effect .cloud {
  position: absolute;
  top: -1300px;
}

.out_of_earth {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 110%;
}

.earth {
  width: 100%;
  height: auto;
}
.iss {
  position: fixed;
  width: 25%;
  top: -35%;
  right: -50%;
}

.trail_1st {
  top: 99%;
  left: 9px;
  position: relative;
  width: 12px;
  height: 80%;
  transform: translateZ(0);
  animation: jet 0.02s ease alternate infinite;
  transform-origin: top center;
}
.trail_2nd {
  top: 34%;
  left: 9px;
  position: relative;
  display: none;
  width: 12px;
  height: 50%;
  transform: translateZ(0);
  animation: jet 0.02s ease alternate infinite;
  transform-origin: top center;
}

@keyframes jet {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.5);
  }
}
