@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}
html {
  background-color: #000;
}
svg {
  position: absolute;
  stroke: #1b8dff;
  stroke-width: 2;
}
.layer_0 {
  position: fixed;
  z-index: -9999;
  width: 100%;
}
.bg_first_page {
  background: url("https://wallpaperaccess.com/full/19606.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#bg {
  position: fixed;
  z-index: -999;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.bg {
  position: fixed;
  width: 100%;
  height: 500%;
  top: -400%;
  background-color: #fff;
  z-index: -9999;
  opacity: 0;
}
.logo {
  position: fixed;
  z-index: 999;
  top: 25px;
  left: 35px;
}
.status {
  width: 100%;
  height: 2000px;
  top: 90%;
  opacity: 0.5;
  display: none;
}
.launch {
  position: absolute;
  left: 10%;
  top: 10%;
}

#dragon {
  position: absolute;
  height: 5000px;
  top: 90px;
}

.gui {
  position: relative;
  z-index: 99;
  left: 50px;
  opacity: 0;
}

.launch_pad {
  width: 900px;
  position: fixed;
  left: 330px;
  top: 120px;
  opacity: 0;
}

.broadcast {
  position: fixed;
  width: 800px;
  height: max-content;
  color: #fff;
}

.circle_1 {
  display: inline-block;
  width: 1500px;
  max-height: 1500px;
  background-color: black;
  border-radius: 50%;
  left: 50%;
}
.content_1 {
  z-index: 999;
  height: 5000px;
  position: absolute;
  top: 100px;
  left: 45%;
}
